body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#heading{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
    text-align: center;
}

#btn{
    background-color: red;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover{
    background-color: rgb(203, 0, 0);
}
